---
import Variable from "@/components/Variable.astro"

import Layout from "@/layouts/Layout.astro"
---

<Layout title="Welcome to DMA.">
  <h1>Hello, my-app!</h1>
  <p>
    Example of getting variables from context: <Variable expression="test" />
  </p>
</Layout>
