[bumpversion]
current_version = 3.0.8
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:src/server/dbma/__version__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:src/collector/collect-data.sh]
search = OpVersion="{current_version}"
replace = OpVersion="{new_version}"
