invoke.yml
sample/datacollection/*/*.log
sample/datacollection/*.log
!sample/datacollection/*.tar.gz
.venv
__pycache__
*.py[cod]
*$py.class
.DS_Store
.vscode
build/
*.egg-info
.hypothesis
.env
op-venv
*.log
log/*