<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Database Migration - Quick Check</title>
    <script type="module" src="../js/quick-check.js"></script>
  </head>

  <body class="antialiased">
    <div class="drawer-open">
      <div class="drawer-content flex flex-col">
        <div class="min-h-full">
          <div class="w-full navbar bg-base-100">
            <a class="btn btn-ghost text-xl"
              >Database Migration - Readiness Quick Check</a
            >
          </div>
          <footer class="footer p-10 bg-neutral text-neutral-content">
            <nav>
              <header class="footer-title">Services</header>
              <a class="link link-hover">Branding</a>
              <a class="link link-hover">Design</a>
              <a class="link link-hover">Marketing</a>
              <a class="link link-hover">Advertisement</a>
            </nav>
            <nav>
              <header class="footer-title">Company</header>
              <a class="link link-hover">About us</a>
              <a class="link link-hover">Contact</a>
              <a class="link link-hover">Jobs</a>
              <a class="link link-hover">Press kit</a>
            </nav>
            <nav>
              <header class="footer-title">Legal</header>
              <a class="link link-hover">Terms of use</a>
              <a class="link link-hover">Privacy policy</a>
              <a class="link link-hover">Cookie policy</a>
            </nav>
          </footer>
        </div>
      </div>
      <div class="drawer drawer-side">
        <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
          <!-- Sidebar content here -->
          <li><a>Sidebar Item 1</a></li>
          <li><a>Sidebar Item 2</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
