# This file controls the target database version and options for building specific distributions that do not rely on SQL*Plus substitution variables.
# 
# Create one configuration per line.
# Columns are:
# RELEASE, TENANCY, PERFORMANCE STATS SOURCE, DATAGUARD ROLE
#
# RELEASE:                   Three character database version.  This is the two digit release plus 1 digit point release.  
#                             Ex: 111 = Oracle 11 Release 1
#                             112 = Oracle 11 Release 2
# TENANCY:                   Build for single-tenant or mult-tenant.   Multitenant builds cannot execute on non-container databases. 
#                             No checking is performed to ensure the release specified can support containers.
#                             You can build a multi-tenant release for 11.1, but it will not work.
# PERFORMANCE STATS SOURCE:  Either AWR, STATSPACK or NOSTATS.  
# DATAGUARD ROLE:            This is the Dataguard role of the database from which to gather data.  Currently only PRIMARY is supported.
#
#
# The files named 'variables*.txt' in this directory control the specifics of how each combination is built.


## SINGLE_TENANT,NOSTATS,PRIMARY
#080,SINGLE_TENANT,NOSTATS,PRIMARY
#090,SINGLE_TENANT,NOSTATS,PRIMARY
101,SINGLE_TENANT,NOSTATS,PRIMARY
102,SINGLE_TENANT,NOSTATS,PRIMARY
111,SINGLE_TENANT,NOSTATS,PRIMARY
112,SINGLE_TENANT,NOSTATS,PRIMARY
121,SINGLE_TENANT,NOSTATS,PRIMARY
#122,SINGLE_TENANT,NOSTATS,PRIMARY
180,SINGLE_TENANT,NOSTATS,PRIMARY
190,SINGLE_TENANT,NOSTATS,PRIMARY
210,SINGLE_TENANT,NOSTATS,PRIMARY
230,SINGLE_TENANT,NOSTATS,PRIMARY


## MULTI_TENANT,NOSTATS,PRIMARY
121,MULTI_TENANT,NOSTATS,PRIMARY
#122,MULTI_TENANT,NOSTATS,PRIMARY
180,MULTI_TENANT,NOSTATS,PRIMARY
190,MULTI_TENANT,NOSTATS,PRIMARY
210,MULTI_TENANT,NOSTATS,PRIMARY
230,MULTI_TENANT,NOSTATS,PRIMARY


## SINGLE_TENANT,STATSPACK,PRIMARY
#080,SINGLE_TENANT,STATSPACK,PRIMARY
#090,SINGLE_TENANT,STATSPACK,PRIMARY
101,SINGLE_TENANT,STATSPACK,PRIMARY
102,SINGLE_TENANT,STATSPACK,PRIMARY
111,SINGLE_TENANT,STATSPACK,PRIMARY
112,SINGLE_TENANT,STATSPACK,PRIMARY
121,SINGLE_TENANT,STATSPACK,PRIMARY
#122,SINGLE_TENANT,STATSPACK,PRIMARY
180,SINGLE_TENANT,STATSPACK,PRIMARY
190,SINGLE_TENANT,STATSPACK,PRIMARY
210,SINGLE_TENANT,STATSPACK,PRIMARY
230,SINGLE_TENANT,STATSPACK,PRIMARY


## SINGLE_TENANT,AWR,PRIMARY
101,SINGLE_TENANT,AWR,PRIMARY
102,SINGLE_TENANT,AWR,PRIMARY
111,SINGLE_TENANT,AWR,PRIMARY
112,SINGLE_TENANT,AWR,PRIMARY
121,SINGLE_TENANT,AWR,PRIMARY
#122,SINGLE_TENANT,AWR,PRIMARY
180,SINGLE_TENANT,AWR,PRIMARY
190,SINGLE_TENANT,AWR,PRIMARY
210,SINGLE_TENANT,AWR,PRIMARY
230,SINGLE_TENANT,AWR,PRIMARY


## MULTI_TENANT,STATSPACK,PRIMARY
121,MULTI_TENANT,STATSPACK,PRIMARY
#122,MULTI_TENANT,STATSPACK,PRIMARY
190,MULTI_TENANT,STATSPACK,PRIMARY


## MULTI_TENANT,AWR,PRIMARY
121,MULTI_TENANT,AWR,PRIMARY
#122,MULTI_TENANT,AWR,PRIMARY
180,MULTI_TENANT,AWR,PRIMARY
190,MULTI_TENANT,AWR,PRIMARY
210,MULTI_TENANT,AWR,PRIMARY
230,MULTI_TENANT,AWR,PRIMARY



## STANDBY NOT YET SUPPORTED
#102,SINGLE_TENANT,AWR,STANDBY
#111,SINGLE_TENANT,AWR,STANDBY
#112,SINGLE_TENANT,AWR,STANDBY
#121,SINGLE_TENANT,AWR,STANDBY
#122,SINGLE_TENANT,AWR,STANDBY
#190,SINGLE_TENANT,AWR,STANDBY

#102,MULTI_TENANT,AWR,STANDBY
#111,MULTI_TENANT,AWR,STANDBY
#112,MULTI_TENANT,AWR,STANDBY
#121,MULTI_TENANT,AWR,STANDBY
#122,MULTI_TENANT,AWR,STANDBY
#190,MULTI_TENANT,AWR,STANDBY


